{namespace vt=DreadLabs\Vantomas\ViewHelpers}
<f:layout name="Default" />

<f:section name="Main">
    <vt:form.frontendLogin.onSubmitFunctions>
        <form action="{f:uri.action(action: 'login')}"
              method="post"
              onsubmit="{onSubmit}">
            <fieldset>
                <legend>Anmelden</legend>

                <f:flashMessages as="messages">
                    <f:for each="{messages}" as="message">
                        <div class="typo3-message">
                            <div class="alert {message.class}">
                                <div class="media">
                                    <div class="media-left">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-{message.iconName} fa-stack-1x"></i>
                                        </span>
                                    </div>
                                    <div class="media-body">
                                        <f:if condition="{message.title}">
                                        <h4 class="alert-title">{message.title}</h4>
                                        </f:if>
                                        <div class="alert-message">{message.message}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </f:for>
                </f:flashMessages>

                <div>
                    <label for="user">Benutzername:</label>
                    <input type="text" id="user" name="user" value="">
                </div>
                <div>
                    <label for="pass">Passwort:</label>
                    <input type="password" id="pass" name="pass" value="" data-rsa-encryption="">
                </div>

                <div class="g-recaptcha" data-sitekey="6LcgBgcTAAAAAHc4T66ms_sW5s5ALjUbPHmg9uze"></div>
                <br>

                <div>
                    <input class="button small radius" type="submit" name="submit" value="Anmelden">
                </div>

                <div class="felogin-hidden">
                    <input type="hidden" name="logintype" value="login">
                    <input type="hidden" name="redirect_url" value="{f:uri.page(pageUid: this)}">
                    <input type="hidden" name="pid" value="{vt:widget.storagePageId()}">
                    <f:format.html parseFuncTSPath="">{extraHiddenFields}</f:format.html>
                </div>
            </fieldset>
        </form>
    </vt:form.frontendLogin.onSubmitFunctions>
</f:section>
