{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}
{namespace vt=DreadLabs\Vantomas\ViewHelpers}
<f:layout name="Default" />

<f:section name="Main">
	<f:render
		section="LastUpdated{settings.templateVariant -> vhs:format.case(case: 'ucfirst')}"
		arguments="{ pages: pages }" />
</f:section>

<f:section name="LastUpdatedHeroUnit">

	<f:for each="{pages}" as="page">
		<section class="hero row">
			<div class="small-12 large-7 large-centered columns">
				<h1><f:link.page pageUid="{page.id.value}"><vhs:if stack="{ 0: '{page.subTitle}', 1: '==', 2: '' }" then="{page.title}" else="{page.subTitle}" /></f:link.page></h1>
				<p>
					<f:format.date date="{page.lastUpdatedAt}" format="F jS, Y" /> • {page.keywords} • <f:link.page pageUid="{page.id.value}" section="comment-list">comments</f:link.page>
				</p>
				<div class="row">
					<div class="small-12 large-12 columns">
						<div class="panel">
							<img
								src="{vt:page.teaserImage(pageUid: '{page.id.value}')}"
								title="{page.subtitle}"
								alt="{page.title}">
						</div>
						<f:format.html>{page.abstract}</f:format.html>
					</div>
				</div>
				<div class="row">
					<div class="small-12 large-12 columns">
						<f:link.page pageUid="{page.id.value}" class="right small radius button">read more »</f:link.page>
					</div>
				</div>
			</div>
		</section>
	</f:for>
</f:section>

<f:section name="LastUpdatedMinorUnit">
	<f:for each="{pages}" as="page">
		<section class="minor">
			<div class="row">
				<div class="small-12 large-12 columns">
					<h2><vhs:if stack="{ 0: '{page.subTitle}', 1: '==', 2: '' }" then="{page.title}" else="{page.subTitle}" /></h2>
					<f:format.html>{page.abstract}</f:format.html>
				</div>
			</div>
			<div class="row">
				<div class="small-12 large-12 columns">
					<f:link.page pageUid="{page.id.value}" class="right small radius button">read more »</f:link.page>
				</div>
			</div>
		</section>
	</f:for>
</f:section>
