{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace fcc=FluidTYPO3\FluidcontentCore\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

<f:section name="Configuration">
	<flux:form id="image">
		<f:render partial="Properties/Header" arguments="{_all}" />
		<f:render partial="Properties/Container" arguments="{_all}" />
		<f:render partial="Properties/Images" arguments="{_all}" />
		<f:if condition="{settings.extendedCaptions}">
			<flux:grid>
				<v:resource.record.fal record="{record}" field="image" table="tt_content" as="images">
					<f:for each="{images}" as="image" iteration="iteration">
						<flux:grid.row>
							<flux:grid.column>
								<flux:form.content name="content{image.checksum}" label="Caption, {image.name}" />
							</flux:grid.column>
						</flux:grid.row>
					</f:for>
				</v:resource.record.fal>
			</flux:grid>
		</f:if>
	</flux:form>
</f:section>

<f:section name="Preview">
	<v:resource.record.fal record="{record}" field="image" table="tt_content" as="images">
		<f:for each="{images}" as="image" iteration="iteration">
			<v:media.image src="{image.url}" treatIdAsReference="TRUE" alt="{image.id}" height="50" />
		</f:for>
	</v:resource.record.fal>
	<flux:widget.grid />
</f:section>

<f:section name="Main">
	<v:resource.record.fal record="{record}" field="image" table="tt_content" as="images">
		<f:for each="{images}" as="image" iteration="iteration">
			<v:tag name="{settings.caption.tagName}">
				<f:render partial="Image" arguments="{_all}" />
				<flux:content.render area="content{image.checksum}" />
			</v:tag>
		</f:for>
	</v:resource.record.fal>
</f:section>
