{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace vhs=Tx_Vhs_ViewHelpers}
<f:layout name="Default" />

<f:section name="Configuration">
	<flux:form id="fluidfluxcontent" label="Fluid/FluxContent" icon="Icons/Page.gif">
		<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:form tag -->
	</flux:form>
</f:section>

<f:section name="Preview">
	<!-- uncomment this to use a grid for nested content elements -->
	<!-- <flux:widget.grid /> -->
</f:section>

<f:section name="Main">
	<ul class="disc">
		<vhs:resource.file identifier="{record.media_fileReferenceUids}" as="files" treatIdAsReference="TRUE">
			<f:for each="{files}" as="file">
				<li>
					<a href="/fileadmin{file.identifier}">
						<f:if condition="{file.title}">
							<f:then>
								{file.title}
							</f:then>
							<f:else>
								{file.name}
							</f:else>
						</f:if> ({vhs:math.division(a: '{file.size}', b: '1024') -> vhs:math.round(decimals: 2)} KB)
					</a>
				</li>
			</f:for>
		</vhs:resource.file>
	</ul>
</f:section>