<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="NoHeader" />

<f:section name="Configuration">
	<flux:form id="html">
		<f:render partial="Properties/Header" arguments="{_all}" />
		<f:render partial="Properties/Container" arguments="{_all}" />
	</flux:form>
</f:section>

<f:section name="Preview">
	{record.bodytext -> f:format.crop(maxCharacters: settings.preview.maxCharacters) -> f:format.htmlentities()}
</f:section>

<f:section name="Main">
	{record.bodytext -> f:format.raw()}
</f:section>

</div>
