<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="Configuration">
	<flux:form id="image">
		<f:render partial="Properties/Header" arguments="{_all}" />
		<f:render partial="Properties/Container" arguments="{_all}" />
		<f:render partial="Properties/Images" arguments="{_all}" />
		<f:if condition="{settings.extendedCaptions}">
			<flux:grid>
				<v:resource.record.fal record="{record}" field="image" table="tt_content" as="images">
					<f:for each="{images}" as="image" iteration="iteration">
						<flux:grid.row>
							<flux:grid.column name="content{image.checksum}" label="{v:l(key: 'caption', arguments: '{0: image.name}')}" />
						</flux:grid.row>
					</f:for>
				</v:resource.record.fal>
			</flux:grid>
		</f:if>
	</flux:form>
</f:section>

<f:section name="Preview">
	<v:resource.record.fal record="{record}" field="image" table="tt_content" as="images">
		<f:for each="{images}" as="image" iteration="iteration">
			<v:media.image src="{image.url}" treatIdAsReference="TRUE" alt="{image.id}" height="50" style="height: auto; max-width: 100%;" />
		</f:for>
		<f:if condition="{settings.extendedCaptions}">
			<f:if condition="{images -> f:count()} > 0">
				<flux:widget.grid />
			</f:if>
		</f:if>
	</v:resource.record.fal>
</f:section>

<f:section name="Main">
	<v:resource.record.fal record="{record}" field="image" table="tt_content" as="images">
		<f:for each="{images}" as="image" iteration="iteration">
			<v:tag name="{settings.caption.tagName}">
				<f:render partial="Content/Image" arguments="{_all}" />
				<flux:content.render area="content{image.checksum}" />
			</v:tag>
		</f:for>
	</v:resource.record.fal>
</f:section>

</div>
