<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="Configuration">
	<flux:form id="uploads">
		<f:render partial="Properties/Header" arguments="{_all}" />
		<f:render partial="Properties/Container" arguments="{_all}" />
	</flux:form>
</f:section>

<f:section name="Preview">
</f:section>

<f:section name="Main">
	<v:content.resources.fal record="{record}" field="media" as="files">
		{f:render(section: 'FileList', arguments: {files: files}) -> f:if(condition: files)}
	</v:content.resources.fal>
</f:section>

<f:section name="FileList">
	<ul>
		<f:for each="{files}" as="fileRecord">
			<li>
				<a href="{fileRecord.url}">
					{fileRecord.title -> v:or(alternative: fileRecord.name)}
				</a>
			</li>
		</f:for>
	</ul>
</f:section>

</div>
