.settings
.idea
.vagrant
vagrant/.initialized
.sass-cache
composer.phar
vendor
build/
bower_components/
node_modules/
build.dev.secret.properties
build.test.secret.properties
build.prod.secret.properties

web/bin

**/web/fileadmin

web/Packages

web/typo3
web/typo3_src

web/typo3conf/*Configuration.php
web/typo3conf/*.log
web/typo3conf/ENABLE_INSTALL_TOOL

web/typo3conf/l10n/

web/typo3conf/ext/*
!web/typo3conf/ext/secret_santa
!web/typo3conf/ext/vantomas

web/index.php
web/.htaccess
web/robots.txt

web/typo3conf/ext/vantomas/Configuration/TypoScript/Site/Extensions/setup.txt
web/typo3conf/ext/vantomas/Configuration/TypoScript/Site/Config/setup.txt
web/typo3conf/ext/vantomas/Configuration/TypoScript/Site/Pages/setup.txt
web/typo3conf/ext/vantomas/Resources/Private/Partials/Page/Disqus.html
web/typo3conf/ext/vantomas/Resources/Private/Sass/_settings.scss
web/typo3conf/ext/vantomas/Resources/Public/Css/app.css
web/typo3conf/ext/vantomas/Resources/Public/Javascript/vendor

web/typo3temp
web/uploads

data/.htpasswd
data/db
data/web/basic_auth.htaccess
data/web/.htaccess