.buildpath
.project
.settings
.idea
.vagrant
vagrant/.initialized
.sass-cache
composer.phar
vendor
build/
bower_components/
node_modules/
build.dev.secret.properties
build.test.secret.properties
build.prod.secret.properties

src/vantomas/Configuration/TypoScript/Site/Setup/001-extensions.ts
src/vantomas/Configuration/TypoScript/Site/Setup/002-config.ts
src/vantomas/Configuration/TypoScript/Site/Setup/003-pages.ts
src/vantomas/Resources/Private/Partials/Disqus.html
src/vantomas/Resources/Private/Sass/_settings.scss
src/vantomas/Resources/Public/Css/app.css
src/vantomas/Resources/Public/Images/foundation
src/vantomas/Resources/Public/Javascript/foundation
src/cs_counter_plus/

/web/
*/web/fileadmin/*
*/web/typo3conf/*

data/db
/data/web/basic_auth.htaccess
/data/web/.htaccess
/data/.htpasswd
!/data/web/typo3conf/AdditionalConfiguration.tpl.php
!/data/web/typo3conf/LocalConfiguration.tpl.php
!/data/web/typo3conf/PackageStates.php
!/data/web/typo3conf/realurl_conf.php