.csc-default ul {
	@extend .disc;
}

%mythumb {
	@include thumb;
}

div.csc-textpic .csc-textpic-imagewrap figure,
div.csc-textpic figure.csc-textpic-imagewrap {
	@extend %mythumb;
	-webkit-box-shadow: $thumb-box-shadow-hover;
	box-shadow: $thumb-box-shadow-hover;

	margin-left: emCalc(8px);
	margin-right: emCalc(8px);
	margin-top: emCalc(8px);
}