.social-bookmarks-bar {
	background-image: url(#{$images-root-dir}/Resources/Public/Images/bg-social-icon-bar.png);
	background-position: right center;
	background-repeat: no-repeat;

	height: 97px;

	border-top: 1px solid #ffc096;
	border-bottom: 1px solid #ffc096;

	padding: 10px 0;
	margin-top: 10px;

	img {
		border-top: 3px solid transparent;
		display: inline;
	}

	a {
		text-decoration: none;

		&:hover img {
			border-top: 0;
			border-bottom: 3px solid transparent;		
		}
	}
}