h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: $primary-color;

	&:hover {
		color: darken($primary-color, 5%);
	}
}

ul,
ol {
	margin-#{$default-float}: $list-side-margin;
	margin-bottom: 0;

  li {
    ul,
    ol {
      margin-#{$default-float}: $list-side-margin;
      margin-bottom: 0;
    }
  }
}