@import "orbit";
@import "typo";
@import "css_styled_content";
@import "form";
@import "beautyofcode";
@import "socialbookmarks";
@import "vge_tagcloud";

.fixed-header {
	@media #{$small} {
		padding-top: 270px;
	}

	.w-header {
		@media #{$small} {
			box-shadow: 0 0 25px #000000;
			position: fixed;
			top: -220px;
			width: 100%;
			z-index: 13;
		}
	}

	.w-content {
		position: relative;
		z-index: 12;
	}
}

.w-header {
	background: url(#{$images-root-dir}/Resources/Public/Images/bg-body.jpg) repeat scroll transparent;
	border-bottom: 1px solid $primary-color;
	height: 110px;
	padding-bottom: 10px;

	@media #{$small} {
		height: auto;
	}

	.logo {
		float: left;
		height: 110px;
		width: 110px;

		@media #{$small} {
			display: block;
			float: none;
			height: auto;
			margin: 0 auto;
			width: auto;
		}
	}

	.inline-list {
		margin: 0;
		text-align: right;

		@media #{$small} {
			text-align: center;
		}

		li {
			display: block;
			float: none;
			font-family: $paragraph-font-family;
			font-size: $paragraph-font-size;
			margin: 0 1em 0 0;
			padding: 0 0 0 16px;

			@media #{$small} {
				background: transparent url(#{$images-root-dir}/Resources/Public/Images/menu-main-bullet.png) 0% 55% no-repeat;
				display: inline;
				font-size: $h2-font-size;
				font-family: 'Lobster', serif;
				margin: 0;
			}

			a {
				color: #000000;

				&:hover {
					color: #c0490a;
				}
			}

			&.active {
				padding: 0 0 0 32px;

				@media #{$small} {
					background: transparent url(#{$images-root-dir}/Resources/Public/Images/menu-main-active-item.png) 0% 65% no-repeat;
				}

				a {
					color: #c0490a;
					text-decoration: underline;
				}
			}
		}

		> li > * {
			display: inline;
				text-transform: lowercase;
		}
	}
}

.hero {
	background: transparent url(#{$images-root-dir}/Resources/Public/Images/hero-border.png) center bottom no-repeat;
	padding-bottom: 75px;

	.panel {
		background-color: #ffffff;
		padding: 3px;
	}
}

.minor {
	background: transparent url(#{$images-root-dir}/Resources/Public/Images/hero-border.png) center bottom no-repeat;
	padding-bottom: 75px;

	@media #{$small} {
		background: none;
		padding-bottom: 0;
	}
}

footer {
	clear: both;
	background: #272727 url(#{$images-root-dir}/Resources/Public/Images/bg-footer.png) left top no-repeat;
	border-top: 1px solid #272727;
	color: #ffffff;
	padding: 50px 40px 10px 40px;

	a {
		color: #bbbbbb;

		&:hover {
			color: #bbbbbb;
			text-decoration: underline;
		}
		&:focus {
			color: #bbbbbb;
		}
		&:visited {
			color: #7a7a7a;
		}
	}

	.columns .panel {
		background: rgba(70, 70, 70, 0.92);
		border: none;
		border-radius: 10px;
		padding-top: 10px;

		h4 {
			font: normal normal normal 1.8em/1.25em 'Lobster', sans-serif;
			text-transform: lowercase;
			letter-spacing: 0.025em;

			color: #ffffff;
			padding: 0 0 0 .25em;
		}
	}

	.striped li {
		border-bottom: 1px dotted #5d5d5d;
		padding: $column-gutter / 2 0;
	}

	#copyright {
		color: #434343;

		a {
			color: #ffffff;
			&.rss-feed {
				background: transparent url(#{$images-root-dir}/Resources/Public/Images/feed.png) left center no-repeat;
				padding: 0 0 0 20px;
			}
		}
	}
}
