<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<!-- ###HEADER_ADDITIONS### begin
		This section will be appended to html headers of the output. Allows you to include CSS, JS, etc
		Markers in this section:
			SITE_REL_PATH	- path to file relative to web root, ending with slash
-->
<script type="text/javascript" src="###SITE_REL_PATH###resources/template/pi1.js"></script>
<!-- ###HEADER_ADDITIONS### end -->
</head>
<body>

<h4>Comment listing subpart</h4>
<hr />
<!-- ###COMMENT_LIST### begin
	This subpart formats comments
-->
<div data-role="collapsible" data-collapsed="true">
  <h2>Comments</h2>
  <ul class="cmts">
	<!-- ###CONTENT### begin -->
		<!-- ###SINGLE_COMMENT### begin
			A single comment in the list. Possible markers:
				ALTERNATE		- "-1" for odd and "-2" for even entries, allows to have alternating styles
				FIRSTNAME		- first name
				LASTNAME		- last name
				EMAIL			- email (spam protect works!)
				LOCATION		- location
				HOMEPAGE		- homepage
				COMMENT_DATE	- date when posted
				COMMENT_CONTENT	- content of the comment (nl2br + htmlspecialchars)
			comments_markers extensions:
				COMMENT_UID     - comment uid, allows named anchors/HTML element IDs for anchor jumping
		-->
		<li class="ui-li">
			<div class="cmt-inner">
			  <h3 class="ui-bar ui-bar-b">
			  	###GRAVATAR###
			  	<span class="cmt-meta">###FIRSTNAME### ###LASTNAME###</span>
					<span class="cmt-meta-date">###COMMENT_DATE###</span>
				</h3>
			  <div class="cmt-text ui-body ui-body-c">
				  <p>###COMMENT_CONTENT###</p>
				</div>
		  </div>
		</li>
		<!-- ###SINGLE_COMMENT### end -->
	<!-- ###CONTENT### end -->
  </ul>
	###PAGE_BROWSER###
</div>
<!-- ###COMMENT_LIST### end -->
<hr />

<h4>No comments (replaces ###SINGLE_COMMENT###)</h4>
<!-- ###NO_COMMENTS### begin -->
<li>###TEXT_NO_COMMENTS###</li>
<!-- ###NO_COMMENTS### end -->
<hr />

<h4>Comment form subpart</h4>
<hr />
<!-- ###COMMENT_FORM### begin
	This su bpart formats comment form
-->
<div data-role="collapsible" data-collapsed="true">
	<h2>Leave a comment</h2>
	<form id="frmComment" class="complex" action="###ACTION_URL###" method="post">
		<fieldset>
	    ###TOP_MESSAGE###
			<p class="bodytext">###TEXT_REQUIRED_HINT###</p>
		  <div data-role="field-contain">
		    <label for="tx_comments_pi1_firstname">###TEXT_FIRST_NAME### ###REQUIRED_FIRSTNAME### ###ERROR_FIRSTNAME###</label>
		    <input class="tx-comments-comment-input text" type="text" size="35" name="tx_comments_pi1[firstname]" id="tx_comments_pi1_firstname" value="###FIRSTNAME###" tabindex="1">
		  </div>
		  <div data-role="field-contain">
		    <label for="tx_comments_pi1_lastname">###TEXT_LAST_NAME### ###REQUIRED_LASTNAME### ###ERROR_LASTNAME###</label>
		    <input class="tx-comments-comment-input text" type="text" size="35" name="tx_comments_pi1[lastname]" id="tx_comments_pi1_lastname" value="###LASTNAME###" tabindex="2">
		  </div>
		  <div data-role="field-contain">
		    <label for="tx_comments_pi1_email">###TEXT_EMAIL### ###REQUIRED_EMAIL### ###ERROR_EMAIL###</label>
		    <input class="tx-comments-comment-input text" type="email" size="35" name="tx_comments_pi1[email]" id="tx_comments_pi1_email" value="###EMAIL###" tabindex="3">
		  </div>
		  <div data-role="field-contain" class="honeypot">
		    <label class="tx-comments-comment-input2" for="tx_comments_pi1_homepage">###TEXT_WEB_SITE### ###REQUIRED_HOMEPAGE### ###ERROR_HOMEPAGE###</label>
		    <input class="tx-comments-comment-input2 text" type="text" size="35" name="tx_comments_pi1[homepage]" id="tx_comments_pi1_homepage" value="###HOMEPAGE###">
		  </div>
		  <div data-role="field-contain">
		    <label for="tx_comments_pi1_content">###TEXT_CONTENT### ###REQUIRED_CONTENT### ###ERROR_CONTENT###</label>
		    <textarea cols="32" rows="7" name="tx_comments_pi1[content]" id="tx_comments_pi1_content" tabindex="4">###CONTENT###</textarea>
		  </div>
		  ###CAPTCHA###
			###JS_USER_DATA###
		</fieldset>
    <fieldset class="ui-grid-a">
      <div class="ui-block-a"><button type="submit" name="tx_comments_pi1[submit]" id="tx_comments_pi1_submit" value="###TEXT_SUBMIT###" tabindex="5" data-theme="b">###TEXT_SUBMIT###</button></div>
      <div class="ui-block-b"><button type="reset" id="tx_comments_pi1_reset" value="###TEXT_RESET###" tabindex="6" data-theme="c">###TEXT_RESET###</button></div>
    </fieldset>
    <input type="hidden" name="tx_comments_pi1[submit]" value="###TEXT_SUBMIT###" />
		<input type="hidden" name="tx_comments_pi1[itemurl]" value="###CURRENT_URL###" />
		<input type="hidden" name="tx_comments_pi1[itemurlchk]" value="###CURRENT_URL_CHK###" />
	</form>
</div>
<!-- ###COMMENT_FORM### end -->

<hr />

<h4>Required field mark</h4>
<hr />
<!-- ###REQUIRED_FIELD### begin
	This subpart formats mark for required field
-->
<span class="tx-comments-required-mark">*</span>
<!-- ###REQUIRED_FIELD### end -->

<hr />

<h4>Form top message block</h4>
<hr />

<!-- ###FORM_TOP_MESSAGE### begin
	This subpart formats mark for required field
-->
<div class="tx-comments-form-top-message">
###MESSAGE###
</div>
<!-- ###FORM_TOP_MESSAGE### end -->

<!-- ###COMMENTING_CLOSED### begin -->
<div class="tx-comments-closed">
  <img src="###SITE_REL_PATH###res/commenting-closed.gif" width="16" height="16" alt="" />
  ###MESSAGE###
</div>
<!-- ###COMMENTING_CLOSED### end -->

<!-- ###CAPTCHA_SUB### begin
	This subpart formats captcha
-->
<div data-role="field-contain">
  <label for="tx_comments_pi1[captcha]">###TEXT_ENTER_CODE###</label>
  <div class="tx-comments-captcha">
    ###SR_FREECAP_IMAGE###<br />###SR_FREECAP_CANT_READ###<br />
    <!--  value attribute is a single space to prevent autocomplete -->
    <input class="tx-comments-comment-input" type="text" size="35" name="tx_comments_pi1[captcha]" value=" " /> ###REQUIRED_CAPTCHA### ###ERROR_CAPTCHA###
  </div>
</div>
<!-- ###CAPTCHA_SUB### end -->

<!-- ###TTNEWS_COMMENT_COUNT_SUB### begin -->
<span class="tx-comments-count-wrap"><a href="###COMMENTS_LINK####tx-comments-comments-###UID###" class="tx-comments-count">###COMMENTS_COUNT###</a></span>
<!-- ###TTNEWS_COMMENT_COUNT_SUB### end -->

<!-- ###TTNEWS_COMMENT_NONE_SUB### begin -->
<span class="tx-comments-count-wrap"><a href="###COMMENTS_LINK####tx-comments-comments-###UID###" class="tx-comments-count">###COMMENTS_COUNT_NONE###</a></span>
<!-- ###TTNEWS_COMMENT_NONE_SUB### end -->

</body>
</html>
