{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}
{namespace vt=DreadLabs\Vantomas\ViewHelpers}

<f:layout name="Default" />

<f:section name="Main">
    <f:comment>
    <vhs:page.header.meta name="robots" content="noindex, nofollow" />
    </f:comment>
    <vhs:page.header.title>
        <f:translate
            id="archive.search.title"
            default="{vhs:page.info(field: 'title')}"
            arguments="{search.resultListTitleArguments}" />
    </vhs:page.header.title>
    <f:for each="{pages}" as="page">
        <div class="row">
            <div class="twelve columns">
                <h2><f:link.page pageUid="{page.identifier.value}">{page.title}</f:link.page></h2>
                <p><f:format.date date="{page.lastUpdatedAt}" format="F jS, Y" /></p>
                <f:format.crop maxCharacters="255" respectHtml="1" respectWordBoundaries="1">
                    <vt:format.markdown>{page.abstract}</vt:format.markdown>
                </f:format.crop>
                <f:link.page pageUid="{page.identifier.value}" class="right round small button">read more »</f:link.page>
            </div>
        </div>
    </f:for>
</f:section>
