{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}

<flux:form.data table="tt_content" record="{record}" field="content_options" as="content">
	<f:if condition="{content.settings.container.addAnchor}">
		<a id="{record.header -> vhs:or(alternative: record.titleAttribute) -> vhs:or(alternative: 'content {record.uid}') -> vhs:format.url.sanitizeString()}"></a>
	</f:if>
	<vhs:tag name="{vhs:variable.get(name: 'settings.container.types.{record.CType}') -> vhs:or(alternative: settings.container.types.default)}"
		class="{content.settings.container.className}">
		<f:if condition="{record.header}">
			<f:if condition="{record.header_layout -> vhs:or(alternative: content.settings.header.type)} < 100">
				<f:render partial="Content/Header" arguments="{content: content, record: record}" optional="TRUE" />
			</f:if>
		</f:if>
		<f:render section="Main" />
	</vhs:tag>
</flux:form.data>
