{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace vhs=Tx_Vhs_ViewHelpers}

<f:layout name="Standard" />

<f:section name="Configuration">
	<flux:form id="blog" label="Blog" description="LLL:EXT:vantomas/Resources/Private/Language/Page/Blog.xlf:description">
		<flux:form.sheet name="rssFeed" label="LLL:EXT:vantomas/Resources/Private/Language/Page/Standard.xlf:groups.rssFeed.label">
			<flux:field.relation name="settings.rssPid" table="pages" label="LLL:EXT:vantomas/Resources/Private/Language/Page/Standard.xlf:groups.rssFeed.fields.rssPid.label" />
			<flux:field.input name="settings.rssType" eval="trim,int" size="16" label="LLL:EXT:vantomas/Resources/Private/Language/Page/Standard.xlf:groups.rssFeed.fields.rssType.label" />
		</flux:form.sheet>
		<flux:form.sheet name="blogSettings" label="LLL:EXT:vantomas/Resources/Private/Language/Page/Blog.xlf:groups.blogSettings.label">
			<flux:field.checkbox label="LLL:EXT:vantomas/Resources/Private/Language/Page/Blog.xlf:groups.blogSettings.fields.enableComments" name="enableComments" />
		</flux:form.sheet>
	</flux:form>
	<!-- backend layout -->
	<flux:grid>
		<flux:grid.row>
			<flux:grid.column colPos="0" name="LLL:EXT:vantomas/Resources/Private/Language/Layout/Backend.xlf:column.content.name">
				<flux:form.content name="content" label="content" />
			</flux:grid.column>
		</flux:grid.row>
	</flux:grid>
</f:section>

<f:section name="Header">
	<f:render partial="Header" />
	<vhs:content.render column="1" slide="-1" />
</f:section>

<f:section name="Content">
	<article class="row">
		<div class="small-12 large-7 large-centered columns">
			<vhs:content.render column="0" />

			<f:render partial="SocialBookmarks" arguments="{ page: page }" />

			<f:render partial="Disqus" arguments="{ page: page }" />
		</div>
	</article>
</f:section>

<f:section name="Sidebar">
	<vhs:content.render column="2" slide="-1" />
</f:section>

<f:section name="Footer">
	<vhs:content.render column="3" slide="-1" />
</f:section>

<f:section name="Copyright">
	<f:render partial="Copyright" arguments="{ rssPid: settings.rssPid, rssType: settings.rssType }" />
</f:section>