{namespace flux=Tx_Flux_ViewHelpers}
{namespace vhs=Tx_Vhs_ViewHelpers}

<f:layout name="Desktop" />

<f:section name="Configuration">
</f:section>

<f:section name="Header">
	<vhs:page.content.render column="1" slide="-1" />
</f:section>

<f:section name="Content">
	<vhs:page.content.render column="0" />
</f:section>

<f:section name="Sidebar">
	<vhs:page.content.render column="2" slide="-1" />
<f:section>

<f:section name="Footer">
	<vhs:page.content.render column="3" slide="-1" />
</f:section>
