{namespace flux=Tx_Flux_ViewHelpers}
{namespace vhs=Tx_Vhs_ViewHelpers}
{namespace vt=Tx_Vantomas_ViewHelpers}

<f:layout name="{settings.layout}" />

<f:section name="Configuration">
</f:section>

<f:section name="Header">
	<vt:page.content.render column="1" slide="-1" />
</f:section>

<f:section name="Content">
	<vt:page.content.render column="0" />
</f:section>

<f:section name="Sidebar">
	<vt:page.content.render column="2" slide="-1" />
</f:section>

<f:section name="Footer">
	<vt:page.content.render column="3" slide="-1" />
</f:section>

<f:section name="Copyright">
	<div id="copyright">
		<p class="bodytext">© 2007-<f:format.date date="now" format="Y" /> van-tomas.de created by Thomas Juhnke | <a href="#content-container">Back to top</a> | <f:link.page pageUid="136" pageType="103" additionalAttributes="{ class: 'rss-feed' }">RSS Feed</f:link.page></p>
	</div>
</f:section>