{namespace flux=Tx_Flux_ViewHelpers}
{namespace vhs=Tx_Vhs_ViewHelpers}
{namespace vt=DreadLabs\Vantomas\ViewHelpers}

<f:layout name="Standard" />

<f:section name="Configuration">
	<flux:flexform id="standard" label="Standard" description="LLL:EXT:vantomas/Resources/Private/Language/Page/Standard.xlf:description">
		<flux:flexform.sheet name="rssFeed" label="LLL:EXT:vantomas/Resources/Private/Language/Page/Standard.xlf:groups.rssFeed.label">
			<flux:flexform.field.group name="settings.rssPid" table="pages" allowed="pages" label="LLL:EXT:vantomas/Resources/Private/Language/Page/Standard.xlf:groups.rssFeed.fields.rssPid.label" />
			<flux:flexform.field.input name="settings.rssType" eval="trim,int" size="16" label="LLL:EXT:vantomas/Resources/Private/Language/Page/Standard.xlf:groups.rssFeed.fields.rssType.label" />
		</flux:flexform.sheet>
	</flux:flexform>
</f:section>

<f:section name="Header">
	<f:render partial="Header" />
	<vt:page.content.render column="1" slide="-1" />
</f:section>

<f:section name="Content">
	<div class="row">
		<div class="small-12 large-7 large-centered columns">
			<vt:page.content.render column="0" />
		</div>
	</div>
</f:section>

<f:section name="Sidebar">
	<vt:page.content.render column="2" slide="-1" />
</f:section>

<f:section name="Footer">
	<vt:page.content.render column="3" slide="-1" />
</f:section>

<f:section name="Copyright">
	<f:render partial="Copyright" arguments="{ rssPid: settings.rssPid, rssType: settings.rssType }" />
</f:section>