{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Xml" />

<f:section name="Main">
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
	http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
	<f:for each="{pages}" as="page">
		<url>
			<loc><f:uri.page pageUid="{page.uid}" absolute="TRUE" /></loc>
			<lastmod>{f:if(condition: '{page.lastUpdated}', then: '{page.lastUpdated -> f:format.date(format: \'Y-m-dTH:i:s\\Z\')}', else: '{page.creationDate -> f:format.date(format: \'Y-m-dTH:i:s\\Z\')}')}</lastmod>
		</url>
	</f:for>
</urlset>
</f:section>