{namespace vt=DreadLabs\Vantomas\ViewHelpers}
{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}

<f:section name="Main">
    <h1 itemprop="headline">{page.title}</h1>

    <meta itemprop="dateModified" content="{f:format.date(date: '@{page.lastUpdated}', format: 'Y-m-d')}">

    <div itemprop="author"
         itemscope
         itemtype="https://schema.org/Person">
        <meta itemprop="name" content="Thomas Juhnke">
    </div>

    <div itemprop="publisher"
         itemscope
         itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="van-tomas.de - TYPO3 &amp; Softwaredevelopment">
        <meta itemprop="logo" itemscope itemref="publisher-logo">
    </div>

    <meta itemprop="mainEntityOfPage" content="{f:uri.page(absolute: 'TRUE')}">

    <div class="hero">
        <div class="row">
            <div class="small-12 columns">
                <time itemprop="datePublished"
                      datetime="{f:format.date(date: '@{page.lastUpdated}', format: 'Y-m-d')}">
                    <f:format.date date="@{page.lastUpdated}" format="F jS, Y" />
                </time> •
                <f:link.page pageUid="{page.uid}" section="comment-list">comments</f:link.page> •
                <span class="twitter-share-button-container">
                    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="dreadwarrior" data-related="typo3:TYPO3 Association">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <p itemprop="keywords">
                    <vhs:iterator.explode content="{page.keywords}" glue="," as="keywords">
                        <f:for each="{keywords}" as="keyword">
                            <span class="secondary radius label">
                                {vhs:format.trim(content: '{keyword}')}
                            </span>
                        </f:for>
                    </vhs:iterator.explode>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <div class="panel" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                    <img src="{vt:page.teaserImage(pageId: pageId)}"
                         title="{page.subtitle}"
                         alt="{page.title}"
                         itemprop="url">

                    <meta itemprop="width" content="546">
                    <meta itemprop="height" content="171">
                </div>
                <div itemprop="description">
                    <f:format.html>{page.abstract}</f:format.html>
                </div>
            </div>
        </div>
    </div>
</f:section>
