<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
	<head>
		<title>Copyright Partial</title>
	</head>
	<body>
		<div id="copyright">
			<p class="bodytext">© 2007-<f:format.date date="now" format="Y" /> van-tomas.de created by Thomas Juhnke | <a href="#content-container">Back to top</a> | <f:link.page pageUid="{rssPid}" pageType="{rssType}" additionalAttributes="{ class: 'rss-feed' }">RSS Feed</f:link.page></p>
		</div>
	</body>
</html>