{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}

<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1>
				<a href="/">
					<!-- van-tomas.de -->
					<img
						class="logo"
						src="typo3conf/ext/vantomas/Resources/Public/Images/Logo-2013-02-22.png"
						width="220"
						height="220"
						alt="van-tomas.de - TYPO3 &amp; Softwaredevelopment">
				</a>
			</h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>
	<section class="top-bar-section">
		<vhs:page.menu
			class="left"
			useShortcutData="TRUE"
			useShortcutUid="FALSE"
			classActive=""
			classCurrent="active" />
	</section>
</nav>
