{namespace vhs=Tx_Vhs_ViewHelpers}

<f:layout name="Desktop" />

<vhs:page.header allowMoveToFooter="FALSE" >
	<link rel="icon" type="image/x-icon" href="typo3conf/ext/vantomas/Resources/Public/Images/favicon.ico">
</vhs:page.header>

<div class="w-header">
	<f:render section="Header" />
</div>

<div class="w-content">
	<div class="row">
		<div class="small-12 large-12 columns">
			<f:render section="Content" />
		</div>
	</div>

	<aside class="row">
		<div class="small-12 large-12 columns">
			<f:render section="Sidebar" />
		</div>
	</aside>
</div>

<div class="w-footer">
	<footer>
		<f:render section="Footer" />
		<f:render section="Copyright" />
	</footer>
</div>