{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}

<vhs:page.header allowMoveToFooter="FALSE" >
	<link rel="icon" type="image/x-icon" href="typo3conf/ext/vantomas/Resources/Public/Images/favicon.ico">
</vhs:page.header>

<f:if condition="{isApplicationContext.development}">
	<div class="application-stage application-stage-development">
		<div class="application-stage-message">
			[Development] The application runs in development mode!
		</div>
	</div>
</f:if>

<div class="w-header">
	<f:render section="Header" />
</div>

<div id="content-container" class="w-content">
	<div class="row">
		<div class="small-12 large-12 columns">
			<f:render section="Content" />
		</div>
	</div>

	<aside class="row">
		<div class="small-12 large-12 columns">
			<f:render section="Sidebar" />
		</div>
	</aside>
</div>

<div class="w-footer">
	<footer>
		<f:render section="Footer" />
		<f:render section="Copyright" />
	</footer>
</div>

<f:comment>
	TODO: add condition for TSFE:beUserLogin > 0
</f:comment>
<f:if condition="{settings.enableTracking}">
	<f:render partial="Page/WebsiteStatistics" arguments="{ trackingCode: settings.trackingCode }" />
</f:if>
