{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="FCE" />

<f:section name="Configuration">
	<f:comment>
		use this flexible content element for exceptional positioned elements,
		so called "layout freaks" :D. Just map the id and class parameter and
		the content area.
	</f:comment>
	<flux:form id="commonContent" enabled="TRUE" options="{ group: 'vantomas' }">
		<flux:field.input name="id" />
		<flux:field.input name="class" />
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column name="content" />
			</flux:grid.row>
		</flux:grid>
	</flux:form>
</f:section>

<f:section name="Preview">
	<flux:widget.grid />
</f:section>

<f:section name="Main">
	<f:if condition="{ 0: id } == { 0: '' }">
		<vhs:variable.set name="id" value="common-content-{record.uid}" />
	</f:if>
	<f:if condition="{ 0: class } == { 0: '' }">
		<vhs:variable.set name="class" value="common-content" />
	</f:if>
	<div id="{id}" class="{class}">
		<flux:content.render area="content" />
	</div>
</f:section>