{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="FCE" />

<f:section name="Configuration">
	<flux:form id="orbiter" enabled="TRUE" options="{ group: 'vantomas' }">
		<flux:form.section name="images">
			<flux:form.object name="image">
				<flux:field.file name="src" />
				<flux:field.input name="caption" />
			</flux:form.object>
		</flux:form.section>
	</flux:form>
</f:section>

<f:section name="Preview">
	<dl>
		<f:for each="{images}" as="sectionObject">
			<dt><vhs:media.image src="{sectionObject.image.src}" alt="" width="62" /></dt>
			<dd>{sectionObject.image.caption}</dd>
		</f:for>
	</dl>
</f:section>

<f:section name="Main">
	<ul data-orbit>
		<f:for each="{images}" as="sectionObject">
			<li>
				<vhs:media.image src="{sectionObject.image.src}" alt="Test" />
				<f:if condition="{sectionObject.image.caption}">
					<div class="orbit-caption">{sectionObject.image.caption}</div>
				</f:if>
			</li>
		</f:for>
	</ul>
</f:section>