{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}
{namespace vt=DreadLabs\Vantomas\ViewHelpers}
<f:layout name="Content/Default" />

<f:section name="Configuration">
	<flux:form id="pageAbstract" enabled="TRUE" options="{ group: 'vantomas' }">
	</flux:form>
</f:section>

<f:section name="Preview">
</f:section>

<f:section name="Main">
	<h1>{page.title}</h1>
	<div class="hero">
		<p>
			<f:format.date date="@{page.lastUpdated}" format="F jS, Y" /> • {page.keywords} • <f:link.page pageUid="{page.uid}" section="comment-list">comments</f:link.page> <div class="twitter-share-button-container"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="dreadwarrior" data-related="typo3:TYPO3 Association">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>
		</p>
		<div class="row">
			<div class="twelve columns">
				<div class="panel">
					<vt:page.teaserImage imageResource="{vt:resource.getFileIdentifiers(table: 'pages', field: 'media', uid: page.uid)}" titleText="{page.subtitle}" titleTextAlternative="{page.title}" />
				</div>
				<f:format.html>{page.abstract}</f:format.html>
			</div>
		</div>
	</div>
</f:section>
