<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	  xmlns:vhs="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
	<head>
		<title>Tabbed Content Element Template</title>
	</head>
	<body>
		<f:layout name="Content/Default" />

		<f:section name="Configuration">
			<flux:form id="tabs" enabled="TRUE" options="{ group: 'vantomas' }">
				<flux:form.sheet name="display" label="Display">
				</flux:form.sheet>

				<flux:form.sheet name="tabs">
					<flux:form.section name="tabs">
						<flux:form.object name="tab">
							<flux:field.input name="title" />
							<flux:field.input name="class" />
							<flux:field.checkbox name="active" />
						</flux:form.object>
					</flux:form.section>
				</flux:form.sheet>

				<flux:grid>
					<flux:grid.row>
						<f:if condition="{tabs}">
							<f:for each="{tabs}" as="tab" iteration="iteration">
								<flux:grid.column style="width: {vhs:math.division(b: '{tabs -> f:count()}', a: 100)}%" name="content.{iteration.index}" label="Content, tab {iteration.cycle}" />
							</f:for>
						</f:if>
					</flux:grid.row>
				</flux:grid>
			</flux:form>
		</f:section>

		<f:section name="Preview">
			<flux:grid />
		</f:section>

		<f:section name="Main">
			<vhs:variable.set name="activeTabIndex" value="0" />
			<f:if condition="{tabs}">
				<f:for each="{tabs}" as="tab" iteration="iteration">
					<f:if condition="{tab.tab.active}">
						<vhs:variable.set name="activeTabIndex" value="{iteration.index}" />
					</f:if>
				</f:for>
			</f:if>

			<f:if condition="{tabs}">
				<dl class="tabs" data-tab>
					<f:for each="{tabs}" as="tab" iteration="tabIteration">
						<dd{f:if(condition: '{activeTabIndex} == {tabIteration.index}', then: ' class="active"')}><a href="#panel{record.uid}-{tabIteration.cycle}">{tab.tab.title}</a>
					</f:for>
				</dl>
				<div class="tabs-content">
					<f:for each="{tabs}" as="tab" iteration="contentIteration">
						<div class="content{f:if(condition: '{activeTabIndex} == {contentIteration.index}', then: ' active')}" id="panel{record.uid}-{contentIteration.cycle}">
							<flux:content.render area="content.{contentIteration.index}" />
						</div>
					</f:for>
				</div>
			</f:if>
		</f:section>
	</body>
</html>