{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="FCE" />

<f:section name="Configuration">
	<flux:form id="twelve" enabled="TRUE" options="{ group: 'vantomas' }">
		<flux:field.checkbox name="panel" />

		<flux:grid>
			<flux:grid.row>
				<flux:grid.column name="content" />
			</flux:grid.row>
		</flux:grid>
	</flux:form>
</f:section>

<f:section name="Preview">
	<flux:widget.grid />
</f:section>

<f:section name="Main">
	<section class="row">
		<div class="small-12 large-12 columns">
			<f:if condition="{panel}">
				<f:then>
					<div class="panel">
						<flux:content.render area="content" />
					</div>
				</f:then>
				<f:else>
					<flux:content.render area="content" />
				</f:else>
			</f:if>
		</div>
	</section>
</f:section>