{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}

<vhs:page.header.meta name="robots" content="noindex, nofollow" />
<vhs:page.header.title>
	<f:translate
		id="tag.search.title"
		default="{currentPage.title}"
		arguments="{
			0: '{tag}'
		}" />
</vhs:page.header.title>

<h1>Tag cloud search results</h1>

<p>{pages -> f:count()} pages were found matching tag <strong>{tag}</strong></p>

<ul class="disc">
	<f:for each="{pages}" as="page">
		<li>
			<f:link.page pageUid="{page.uid}">
				{page.title}
			</f:link.page>
		</li>
	</f:for>
</ul>