<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:dialog="http://fedext.net/ns/dialog/ViewHelpers"
	  xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<head>
		<title></title>
	</head>
	<body>

		{namespace notify=Tx_Notify_ViewHelpers}
		{namespace dialog=Tx_Dialog_ViewHelpers}
		{namespace v=Tx_Vhs_ViewHelpers}

		<f:layout name="Discussion" />

		<f:section name="Toolbar">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<li class="brand"><f:translate key="title" /></li>
						<ul class="nav pull-right">
							<f:if condition="{discussion}">
								<f:if condition="{settings.enableHeroUnit} < 1">
									<li class="{dialog:equals(a: view, b: 'write', then: 'active')}">
										<f:link.action action="write" arguments="{discussion: discussion.uid, thread: thread.uid}" class="nav pull-left"><i class="icon-comment icon-white"></i> <f:translate key="thread.start" /></f:link.action>
									</li>
								</f:if>
							</f:if>
							<li class="{dialog:equals(a: view, b: 'list', then: 'active')}">
								<f:link.action action="index" class="nav pull-left"><i class="icon-home icon-white"></i> <f:translate key="home" /></f:link.action>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</f:section>

		<f:section name="HeroUnit">
			<div class="hero-unit">
				<div class="row-fluid">
					<f:if condition="{thread}">
						<f:then>
							<div class="span9">
								<h3>{thread.subject}</h3>
								<p>{discussion.title}</p>
							</div>
							<div class="span3 hero-unit-button">
								<f:link.action action="write" arguments="{discussion: discussion.uid, thread: thread.uid}" class="btn btn-large btn-primary white">
									<i class="icon-comment icon-white"></i> <f:translate key="thread.start" />
								</f:link.action>
								<f:if condition="{settings.enableSubscriptions}">
									<f:if condition="{poster}">
										<notify:widget.subscribe mode="1" table="tx_dialog_domain_model_thread" uid="{thread.uid}" fields="posts" settings="{settings.subscription.components.heroUnit}" url="{v:page.absoluteUrl()}" />
									</f:if>
								</f:if>
							</div>
						</f:then>
						<f:else>
							<div class="span9">
								<h1>{discussion.title}</h1>
								<f:if condition="{settings.discussion.show.displayDescription}">
									<f:if condition="{discussion.description}">
										<f:then>
											<f:format.html>{f:if(condition: settings.discussion.show.displayDescriptionCharacters, then: '{discussion.description -> f:format.crop(maxCharacters: settings.discussion.show.displayDescriptionCharacters)}', else: discussion.description)}</f:format.html>
										</f:then>
										<f:else>
											<p><f:translate key="noDescription" /></p>
										</f:else>
									</f:if>
								</f:if>
							</div>
							<div class="span3 hero-unit-button">
								<f:link.action action="write" arguments="{discussion: discussion.uid}" class="btn btn-large btn-primary white">
									<i class="icon-comment icon-white"></i> <f:translate key="thread.start" />
								</f:link.action>
								<f:if condition="{settings.enableSubscriptions}">
									<f:if condition="{poster}">
										<notify:widget.subscribe mode="1" table="tx_dialog_domain_model_discussion" uid="{discussion.uid}" fields="threads" url="{v:page.absoluteUrl()}" settings="{display: { mode: 'button', button: {class: 'btn btn-small'}, link: {subscribed: 'Notifications enabled', unsubscribed: 'Enable notifications'}}}" />
									</f:if>
								</f:if>
							</div>
						</f:else>
					</f:if>
				</div>
			</div>
		</f:section>

		<f:section name="BreadCrumb">
			<ul class="breadcrumb breadcrumb-container">
				<li><f:link.action action="index"><f:translate key="discussions" /></f:link.action></li>
				<f:if condition="{discussion}">
					<li><span class="divider"><i class="icon-chevron-right icon-faded"></i></span> <f:link.action action="show" arguments="{discussion: discussion.uid}">{discussion.title}</f:link.action></li>
				</f:if>
				<f:if condition="{thread}">
					<li><span class="divider"><i class="icon-chevron-right icon-faded"></i></span> <f:link.action action="show" arguments="{discussion: discussion.uid, thread: thread.uid}">{thread.subject}</f:link.action></li>
				</f:if>
				<f:if condition="{parent}">
					<li><span class="divider"><i class="icon-chevron-right icon-faded"></i></span> <a href="#" class="active">{post.subject}</a></li>
				</f:if>
			</ul>
		</f:section>

		<f:section name="Head">
			<f:if condition="{settings.enableHeroUnit}">
				<f:render section="HeroUnit" arguments="{_all}" />
			</f:if>
		</f:section>

		<f:section name="Discussions">
			<f:flashMessages class="alert alert-success" renderMode="div" />
			<f:if condition="{discussions}">
				<f:then>
					<f:for each="{discussions}" as="discussionItem" iteration="iteration">
						<h4>
							<dialog:isNew discussion="{discussionItem}" then="{settings.newIndicator -> f:format.raw()}" />
							<f:link.action action="show" arguments="{discussion: discussionItem.uid}">{discussionItem.title}</f:link.action>
							<small><em><f:translate key="by" /> {discussionItem.poster.name}</em></small>
						</h4>
						<f:if condition="{settings.discussion.list.displayDescription}">
							<f:if condition="{discussionItem.description}">
								<div class="discussion-list-description">
									<f:format.html>{f:if(condition: settings.discussion.list.displayDescriptionCharacters, then: '{discussionItem.description -> f:format.crop(maxCharacters: settings.discussion.list.displayDescriptionCharacters)}', else: discussionItem.description)}</f:format.html>
								</div>
							</f:if>
						</f:if>
						<p class="btn-group">
							<f:link.action action="write" arguments="{discussion: discussionItem.uid}" class="btn btn-mini">
								<i class="icon-pencil"></i> <f:translate key="thread.start" />
							</f:link.action>
							<f:link.action action="show" arguments="{discussion: discussionItem.uid}" class="btn btn-mini">
								<i class="icon-comment"></i> <f:translate key="thread.view" arguments="{0: '{discussionItem.threads -> f:count()}'}" />
							</f:link.action>
						</p>
						<div class="latest-posts">
							<f:if condition="{discussionItem.threads}">
								<table class="table {settings.postTableClass}">
									<f:for each="{discussionItem.threads -> v:iterator.sort(sortBy: 'lastActivity', order: 'DESC') -> v:iterator.slice(length: settings.numberOfLatestPosts)}" as="threadItem">
										<tr>
											<td>
												<dialog:isNew thread="{threadItem}" then="{settings.newIndicator -> f:format.raw()}" />
												<f:link.action action="show" arguments="{discussion: discussionItem.uid, thread: threadItem.uid}">{threadItem.subject}</f:link.action>
												<small><em><f:translate key="by" /> {threadItem.poster.name}</em></small>
												<f:if condition="{threadItem.lastPost}">
													<f:render section="LastPostSnippet" arguments="{post: threadItem.lastPost, threadUid: threadItem.uid, discussionUid: discussionItem.uid}" />
												</f:if>
											</td>
											<td>
												<span class="pull-right thread-last-update">
													<small><f:format.date format="{settings.dateFormat}">{threadItem.lastActivity}</f:format.date></small>
												</span>
											</td>
										</tr>
									</f:for>
								</table>
							</f:if>
						</div>
					</f:for>
				</f:then>
				<f:else>
					<f:translate key="noDiscussions" />
				</f:else>
			</f:if>
			<f:if condition="{settings.enableDiscussionCreation}">
				<f:if condition="{settings.enableDirectCommenting}">
					<f:then>
						<f:render section="Write" arguments="{_all}" />
					</f:then>
					<f:else>
						<f:link.action action="write" class="btn btn-large btn-primary white">
							<i class="icon-comment icon-white"></i> <f:translate key="discussion.start" />
						</f:link.action>
					</f:else>
				</f:if>
			</f:if>
		</f:section>

		<f:section name="Discussion">
			<f:render section="Head" arguments="{_all}" />
			<f:if condition="{threads}">
				<f:then>
					<f:widget.paginate objects="{threads}" as="paginatedThreads"
						configuration="{
							itemsPerPage: settings.itemsPerPage,
							insertAbove: '{f:if(condition: \'{threads -> f:count()} > {settings.itemsPerPage}\', then: settings.pagination.above, else: 0)}',
							insertBelow: '{f:if(condition: \'{threads -> f:count()} > {settings.itemsPerPage}\', then: settings.pagination.below, else: 0)}'
						}">
						<table class="table {settings.postTableClass}">
							<tbody>
								<f:for each="{paginatedThreads}" as="threadItem">
									<tr>
										<td>
											<dialog:isNew thread="{threadItem}" then="{settings.newIndicator -> f:format.raw()}" />
											<f:link.action action="show" arguments="{discussion: discussion.uid, thread: threadItem.uid}">
												<f:if condition="{threadItem.subject}" then="{threadItem.subject -> f:format.htmlentities()}" else="No subject" />
											</f:link.action>
											<small><em><f:translate key="by" /> {threadItem.poster.name}</em></small>
											<f:if condition="{threadItem.lastPost}">
												<f:render section="LastPostSnippet" arguments="{post: threadItem.lastPost, threadUid: threadItem.uid, discussionUid: discussion.uid}" />
											</f:if>
										</td>
										<td class="options">
											<i class="icon-time"></i> <f:format.date format="{settings.dateFormat}">{threadItem.crdate}</f:format.date>
											<i class="icon-comment"></i> <f:count><dialog:related hash="{threadItem.hash}" /></f:count>
										</td>
									</tr>
								</f:for>
							</tbody>
						</table>
					</f:widget.paginate>
				</f:then>
				<f:else>
					<p class="label"><f:translate key="noThreads" /></p>
				</f:else>
			</f:if>
			<f:if condition="{settings.enableDirectCommenting}">
				<f:then>
					<f:render section="Write" arguments="{_all}" />
				</f:then>
				<f:else>
					<f:if condition="{settings.displayHeroUnit} < 1">
						<f:link.action action="write" arguments="{discussion: discussion.uid}" class="btn btn-large btn-primary white">
							<i class="icon-comment icon-white"></i> <f:translate key="thread.start" />
						</f:link.action>
					</f:if>
				</f:else>
			</f:if>
		</f:section>

		<f:section name="DiscussionThread">
			<f:render section="Head" arguments="{_all}" />
			<v:var.set name="offset" value="0" />
			<f:for each="{thread.posts}" as="postItem" iteration="iteration">
				<f:if condition="{iteration.isFirst}">
					<f:then>
						<f:render section="PostFirst" arguments="{_all}" />
					</f:then>
					<f:else>
						<f:render section="Post" arguments="{_all}" />
					</f:else>
				</f:if>
			</f:for>
			<f:if condition="{settings.enableDirectCommenting}">
				<f:render section="Write" arguments="{_all}" />
			</f:if>
		</f:section>

		<f:section name="Thread">
			THREAD
		</f:section>

		<f:section name="PostFirst">
			<div class="post-first media">
				<div class="pull-left">
					<div class="media-object">
						<f:render section="Poster" arguments="{_all}" />
					</div>
				</div>
				<div class="media-body">
					<h4>
						<dialog:isNew post="{postItem}" then="{settings.newIndicator -> f:format.raw()}" />{postItem.subject}
					</h4>
					<f:render section="PostItem" arguments="{postItem: postItem, uploadFolder: uploadFolder, poster: poster}" />
					<f:render section="PostOptions" arguments="{_all}" />
				</div>
			</div>
			<f:if condition="{postItem.replies}">
				<f:render section="Replies" arguments="{postItem: postItem, offset: '{dialog:increment(value: offset)}', discussion: discussion, thread: thread, uploadFolder: uploadFolder, poster: poster}" />
			</f:if>
		</f:section>

		<f:section name="Post">
			<div class="post-container post media">
				<div class="pull-left">
					<a name="p{postItem.uid}"></a>
					<div class="media-object"><f:render section="Poster" arguments="{_all}" /></div>
				</div>
				<div class="media-body">
					<h4 class="subject media-heading">
						<dialog:isNew post="{postItem}" then="{settings.newIndicator -> f:format.raw()}" />{postItem.subject}
					</h4>
					<div class="content">
						<f:render section="PostItem" arguments="{_all}" />
					</div>
					<f:if condition="{hideOptions} < 1">
						<f:render section="PostOptions" arguments="{_all}" />
					</f:if>
					<dialog:shouldDisplayReplies hideChildren="{hideChildren}" offset="{offset}" maximumOffset="{settings.maximumReplyIndentations}" replies="{postItem.replies}">
						<f:render section="Replies" arguments="{postItem: postItem, offset: '{dialog:increment(value: offset)}', discussion: discussion, thread: thread, uploadFolder: uploadFolder, poster: poster}" />
					</dialog:shouldDisplayReplies>
				</div>
			</div>
			<dialog:shouldDisplayReplies hideChildren="{hideChildren}" offset="{offset}" minimumOffset="{settings.maximumReplyIndentations}" replies="{postItem.replies}">
				<f:render section="Replies" arguments="{postItem: postItem, offset: '{dialog:increment(value: offset)}', discussion: discussion, thread: thread, uploadFolder: uploadFolder, poster: poster}" />
			</dialog:shouldDisplayReplies>
		</f:section>

		<f:section name="PostItem">
			<v:switch value="{settings.markup.mode}">
				<v:case case="raw" break="TRUE">
					<f:format.raw>{postItem.content}</f:format.raw>
				</v:case>
				<v:case case="markdown" break="TRUE">
					<f:if condition="{postItem.cachedMarkdown}">
						<f:then>
							<f:format.raw>{postItem.cachedMarkdown}</f:format.raw>
						</f:then>
						<f:else>
							<v:format.replace substring="<pre>" replacement="<pre class='prettyprint linenums:1'>">
								<v:format.markdown htmlentities="{settings.markup.markdown.htmlentities}" trim="{settings.markup.markdown.trim}">{postItem.content}</v:format.markdown>
							</v:format.replace>
						</f:else>
					</f:if>
				</v:case>
				<v:case case="template" break="TRUE">
					<v:render.template file="{settings.markup.template}" variables="{postItem: postItem, settings: settings}" />
				</v:case>
				<v:case case="nl2br" break="TRUE">
					<f:format.nl2br>{postItem.content}</f:format.nl2br>
				</v:case>
				<v:case case="html" />
				<v:case case="default">
					<f:format.html>{postItem.content}</f:format.html>
				</v:case>
			</v:switch>
			<f:if condition="{settings.attachments.images.enable}">
				<f:if condition="{postItem.images}">
					<div class="images">
						<f:for each="{postItem.images -> v:iterator.explode()}" as="filename">
							<f:image class="{settings.attachments.images.class}" src="{uploadFolder}/{filename}" alt="{filename}" width="{settings.attachments.images.width}" height="{settings.attachments.images.height}" />
						</f:for>
					</div>
				</f:if>
			</f:if>
			<f:if condition="{settings.attachments.files.enable}">
				<f:if condition="{postItem.attachments}">
					<div class="attachments">
						<f:for each="{postItem.attachments -> v:iterator.explode()}" as="filename">
							<a class="label label-inverse" href="{uploadFolder}/{filename}"><i class="icon icon-link"></i> {filename}</a>
						</f:for>
					</div>
				</f:if>
			</f:if>
		</f:section>

		<f:section name="Replies">
			<div class="replies">
				<f:for each="{postItem.replies}" as="reply">
					<f:render section="Post" arguments="{postItem: reply, offset: offset, discussion: discussion, thread: thread, uploadFolder: uploadFolder, poster: poster}" />
				</f:for>
			</div>
		</f:section>

		<f:section name="Poster">
			<div class="poster">
				<h4 class="media-heading">{postItem.poster.name}</h4>
				<p>
					<small>
						<i class="icon-time"></i> <f:format.date format="{settings.dateFormat}">{postItem.crdate}</f:format.date>
					</small>
				</p>
				<f:if condition="{postItem.poster.web}">
					<p>
						<small>
							<a href="http://{postItem.poster.web}" rel="tooltip" title="{postItem.poster.web}">
								<i class="icon-bookmark"></i> {postItem.poster.web -> f:format.crop(maxCharacters: 15, respectHtml: false)}
							</a>
						</small>
					</p>
				</f:if>
				<f:if condition="{settings.enableGravatars}">
					<a href="http://www.gravatar.com/" rel="tooltip" title="{f:translate(key: 'gravatarChange')}">
						<img src="{postItem.poster.gravatar}?s={settings.gravatarWidth}&d={settings.gravatarDefault -> f:format.urlencode()}" alt="{postItem.poster.name}" width="{settings.gravatarWidth}" height="{settings.gravatarWidth}" />
					</a>
				</f:if>
			</div>
		</f:section>

		<f:section name="PostOptions">
			<div class="post-options well well-small">
				<f:link.action action="write" arguments="{discussion: discussion.uid, thread: thread.uid, parent: postItem.uid}" class="btn btn-mini btn-primary white">
					<i class="icon-comment icon-white"></i> <f:translate key="replyTo" /> {postItem.poster.name}
				</f:link.action>
				<f:if condition="{settings.enableInappropriateContentReporting}">
					<f:link.action action="report" arguments="{post: postItem.uid}" class="btn btn-mini push-right">
						<i class="icon-exclamation-sign"></i> <f:translate key="reportInappropriate" />
					</f:link.action>
				</f:if>
				<dialog:editable settings="{settings}" post="{postItem}">
					<f:link.action action="edit" arguments="{post: postItem.uid, discussion: discussion.uid, thread: thread.uid}" class="btn btn-mini">
						<i class="icon-pencil"></i> <f:translate key="editPost" />
					</f:link.action>
				</dialog:editable>
				<f:if condition="{settings.enableSubscriptions}">
					<f:if condition="{poster}">
						<div class="pull-right">
							<notify:widget.subscribe mode="1" table="tx_dialog_domain_model_post" uid="{postItem.uid}" fields="replies" settings="{settings.subscription.components.post}" url="{v:page.absoluteUrl()}#p{postItem.uid}"  />
						</div>
					</f:if>
				</f:if>
			</div>
		</f:section>

		<f:section name="Write">
			<f:flashMessages class="alert alert-success" renderMode="div" />
			<div class="write">
				<h2>
					<f:if condition="{parent}">
						<f:then>
							<f:translate key="replyTo" /> {parent.poster.name}: <em>{parent.subject}</em>
						</f:then>
						<f:else>
							<f:if condition="{discussion}">
								<f:then>
									<f:translate key="thread.start" />
								</f:then>
								<f:else>
									<f:translate key="discussion.start" />
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</h2>
				<f:if condition="{parent}">
					<f:render section="PostItem" arguments="{postItem: parent, uploadFolder: uploadFolder}" />
					<h2><f:translate key="writeReply" /></h2>
				</f:if>
				<f:form id="frmComment" class="complex" action="post" object="{post}" name="post" enctype="multipart/form-data">
					<div style="display: none;"><f:form.textfield name="url" value="" /></div>
					<f:if condition="{discussion}">
						<f:form.hidden name="discussion" value="{f:if(condition: discussion, then: discussion.uid, else: 0)}" />
					</f:if>
					<f:if condition="{thread}">
						<f:form.hidden name="thread" value="{thread.uid}" />
					</f:if>
					<f:if condition="{parent}">
						<f:form.hidden name="parent" value="{parent.uid}" />
					</f:if>
					<v:security.deny anyFrontendUser="TRUE">
						<fieldset>
							<legend>Leave a comment</legend>
							<ol>
								<li class="column {f:if(condition: errors.name, then: ' column-error')}">
									<label class="control-label" for="name"><f:translate key="tx_dialog_domain_model_poster.name" /></label>
									<f:form.textfield class="poster-name text" property="poster.name" value="{poster.name}" id="name" errorClass="{settings.errorClass}" />
								</li>
								<li class="column {f:if(condition: errors.email, then: ' column-error')}">
									<label class="control-label" for="email"><f:translate key="tx_dialog_domain_model_poster.email" /></label>
									<f:form.textfield property="poster.email" value="{poster.email}" id="email" class="email poster-email text" errorClass="{settings.errorClass}" />
									<p class="help-block"><f:translate key="emailFieldMessage" /></p>
								</li>
								<li class="column {f:if(condition: errors.web, then: ' column-error')}">
									<label class="control-label" for="web">Web</label>
									<f:form.textfield property="poster.web" value="{poster.web}" id="web" class="web poster-web text" errorClass="{settings.errorClass}" additionalAttributes="{ placeholder: 'http://' }" />
									<p class="help-block"><f:translate key="webFieldMessage" /></p>
								</li>
							</ol>
						</fieldset>
						<f:if condition="{poster.identifier}">
							<ul class="form-actions">
								<li><f:link.action action="forget" arguments="{identifier: poster.identifier, remove: 1}" id="removeAndForget" class="btn btn-inverse"><f:translate key="forgetAndRemove" /></f:link.action></li>
								<li><f:link.action action="forget" arguments="{identifier: poster.identifier}" class="btn btn-danger"><f:translate key="forget" /></f:link.action></li>
							</ul>
						</f:if>
					</v:security.deny>
					<f:render section="Form" arguments="{_all}" />
				</f:form>
			</div>
		</f:section>

		<f:section name="Form">
			<fieldset class="words-form">
				<f:if condition="{customTitle}">
					<f:then>
						<legend>{customTitle}</legend>
					</f:then>
					<f:else>
						<legend><f:translate key="tx_dialog_domain_model_post" /></legend>
					</f:else>
				</f:if>
				<div class="controls-row">
					<label for="subject"><f:translate key="tx_dialog_domain_model_post.subject" /></label>
					<f:form.textfield property="subject" id="subject" class="input-xlarge" errorClass="{settings.errorClass}" value="{presetSubject}" />
				</div>
				<div class="controls-row">
					<label for="words"><f:translate key="tx_dialog_domain_model_post.content" /></label>
					<f:form.textarea property="content" rows="9" cols="60" id="words" errorClass="{settings.errorClass}" class="{f:if(condition: settings.enableExpandingTextareas, then: 'expanding')}" />
				</div>
				<f:if condition="{settings.attachments.files.enable}">
					<div class="controls-row files">
						<label><f:translate key="attachments" /></label>
						<v:iterator.loop count="{settings.attachments.files.count}" iteration="iteration">
							<div class="fileupload fileupload-new" data-provides="fileupload">
								<button class="btn btn-mini btn-file"><span class="fileupload-new"><f:translate key="chooseFile" /></span>
									<span class="fileupload-exists"><f:translate key="changeFile" /></span><f:form.upload name="attachments[]" />
								</button>
								<span class="fileupload-preview"></span>
								<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
							</div>
						</v:iterator.loop>
						<div class="allowed-types">
							{settings.attachments.files.extensions}
						</div>
					</div>
				</f:if>
				<f:if condition="{settings.attachments.images.enable}">
					<div class="controls-row files images">
						<label><f:translate key="images" /></label>
						<v:iterator.loop count="{settings.attachments.images.count}" iteration="iteration">
							<div class="fileupload fileupload-new" data-provides="fileupload">
								<div class="fileupload-new thumbnail">
									<img src="{settings.attachments.images.placeholder}" alt="{settings.attachments.images.placeholder}" />
								</div>
								<div class="fileupload-preview fileupload-exists thumbnail"></div>
								<div>
									<button class="btn btn-mini btn-file"><span class="fileupload-new"><f:translate key="chooseFile" /></span>
										<span class="fileupload-exists"><f:translate key="changeFile" /></span><f:form.upload name="images[]" />
									</button>
								</div>
								<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
							</div>
						</v:iterator.loop>
						<div class="allowed-types">
							{settings.attachments.images.extensions}
						</div>
					</div>
				</f:if>
				<div class="form-actions right">
					<f:if condition="{discussion}">
						<f:then>
							<f:if condition="{thread}">
								<f:then>
									<f:link.action action="show" class="btn btn-cancel" arguments="{discussion: discussion.uid, thread: thread.uid}"><i class="icon-remove black"></i> <f:translate key="buttonCancel" /></f:link.action>
								</f:then>
								<f:else>
									<f:link.action action="show" class="btn btn-cancel" arguments="{discussion: discussion.uid}"><i class="icon-remove black"></i> <f:translate key="buttonCancel" /></f:link.action>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<f:link.action action="index" class="btn btn-cancel"><i class="icon-remove black"></i> <f:translate key="buttonCancel" /></f:link.action>
						</f:else>
					</f:if>
					<button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> <f:translate key="buttonSend" /></button>
				</div>
				<v:switch value="{settings.markup.mode}">
					<v:case case="html">
						<h4><f:translate key="allowedHtml" /></h4>
						<f:for each="{settings.allowedHtmlTags->v:iterator.explode()}" as="allowedTag" iteration="tagIteration">
							<code><f:format.htmlentities><{allowedTag}></f:format.htmlentities></code>
						</f:for>
					</v:case>
					<v:case case="markdown">
						<h4 class="muted"><f:translate key="allowedMarkdown" /></h4>
						<p class="allowed-html muted"><f:translate key="allowedMarkdownExample" /></p>
						<p class="muted"><a class="muted" href="http://daringfireball.net/projects/markdown/syntax" target="_blank">http://daringfireball.net/projects/markdown/syntax</a></p>
					</v:case>
				</v:switch>
			</fieldset>
		</f:section>

		<f:section name="Report">
			<f:if condition="{confirmed}">
				<f:then>
					<h1><f:translate key="reportReceived" /></h1>
					<p><f:translate key="reportReceivedThanks" /></p>
					<p><f:link.action class="btn btn-primary white" action="show" arguments="{discussion: discussion.uid, thread: thread.uid}"><f:translate key="reportReturn" /></f:link.action></p>
				</f:then>
				<f:else>
					<h1><f:translate key="reportHeader" /></h1>
					<f:render section="Post" arguments="{postItem: post, hideChildren: 1, hideOptions: 1}" />
					<p>&nbsp;</p>
					<f:form action="report" class="form-horizontal">
						<f:form.hidden name="post" value="{post.uid}" />
						<f:form.hidden name="confirmed" value="1" />
						<fieldset>
							<legend><f:translate key="reportLegend" /></legend>
							<h1><f:translate key="reportWhatWillHappen" /></h1>
							<p><f:translate key="reportWhatWillHappenElaboration" /></p>
							<div class="form-actions">
								<button type="submit" class="btn btn-danger" id="confirmReport"><f:translate key="reportSendButton" /></button> <f:translate key="or" />
								<f:link.action action="show" class="btn btn-inverse white" arguments="{discussion: discussion.uid, thread: thread.uid}"><f:translate key="reportReturn" /></f:link.action>
							</div>
						</fieldset>
					</f:form>
				</f:else>
			</f:if>
		</f:section>

		<f:section name="LastPostSnippet">
			<div class="last-post">
				<small>
					<f:link.action action="show" arguments="{discussion: discussionUid, thread: threadUid}" section="p{post.uid}">
						<f:format.crop maxCharacters="{settings.lastPostMaxCharacters}">
							<i class="icon icon-comment"></i> {post.content}</span>
						</f:format.crop>
					</f:link.action> <em><f:translate key="by" /> {post.poster.name}</em>
				</small>
			</div>
		</f:section>

		<f:section name="NoAccess">
			<div class="alert alert-danger no-access">
				<h1 class="alert-header"><f:translate key="noAccessHeader" /></h1>
				<f:format.html><f:translate key="noAccessBody" /></f:format.html>
			</div>
		</f:section>
	</body>
</html>