<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:dialog="http://fedext.net/ns/dialog/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<head>
	<title></title>
</head>
<body>

{namespace flux=Tx_Flux_ViewHelpers}
{namespace dialog=Tx_Dialog_ViewHelpers}
<f:layout name="Email" />

<f:section name="Void">
</f:section>

<f:section name="ReportInappropriate">

</f:section>

<f:section name="Notification">

</f:section>

<f:section name="Authorization">
<f:translate key="email.salutation" arguments="{0: poster.name}" />

<f:translate key="email.authorization.explanation" arguments="{links}" />

<f:translate key="email.signature" arguments="{0: settings.email.fromName}" />
</f:section>

</body>
</html>
