<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="robots" content="noindex, follow">

		<title>van-tomas.de - Oopsie!</title>

		<link rel="icon" type="image/x-icon" href="/typo3conf/ext/vantomas/Resources/Public/Images/favicon.ico">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Neuton|Lobster&amp;amp;subset=latin,latin-ext" media="all">
		<link rel="stylesheet" type="text/css" href="/typo3conf/ext/vantomas/Resources/Public/Css/app.css" media="all">
	</head>

	<body>
		<div class="w-header">
			<a href="/">
				<img class="logo" src="/typo3conf/ext/vantomas/Resources/Public/Images/Logo-2013-02-22.png" width="220" height="220" alt="van-tomas.de - TYPO3 &amp; Softwaredevelopment">
			</a>
		</div>

		<div class="w-content">
			<div class="row">
				<div class="small-12 large-6 large-centered columns">
					<h1>Whoops!</h1>
					<p>
						Unfortunately, an error occured. Obviously, this should not happen.<br>
						Please <a href="/contact/index.html">drop me a note</a> or try <a href="/">starting over from the homepage</a>.
					</p>
					<p>For your viewing pleasure and the inconvience, here are some sleeping kittens:</p>
					<figure>
						<img class="th" src="/typo3conf/ext/vantomas/Resources/Public/Images/sleeping-kittens.jpg" alt="sleeping kittens">
					</figure>
					<p>
						Photo credit: <a href="https://www.flickr.com/photos/96828128@N02/14447262431">sleeping kittens</a> by <a href="https://www.flickr.com/photos/96828128@N02/">Jimmy B</a> | <a href="https://creativecommons.org/licenses/by/2.0/">CC licensed</a>
					</p>
				</div>
			</div>
		</div>

		<div class="w-footer">
			<footer>
				<div id="copyright">
					<p class="bodytext">© van-tomas.de created by Thomas Juhnke</p>
				</div>
			</footer>
		</div>

	</body>
</html>
