{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Page/Standard" />

<f:section name="Configuration">
	<flux:form id="standard">
		<flux:form.sheet name="rssFeed">
			<flux:field.relation name="settings.rssPid" table="pages" />
			<flux:field.input name="settings.rssType" eval="trim,int" size="16" />
		</flux:form.sheet>
	</flux:form>
	<!-- backend layout -->
	<flux:grid>
		<flux:grid.row>
			<flux:grid.column colPos="0" colspan="6" name="content" />
		</flux:grid.row>
		<flux:grid.row>
			<flux:grid.column colPos="7" colspan="2" name="sidebar_tab_1" />
			<flux:grid.column colPos="8" colspan="2" name="sidebar_tab_2" />
			<flux:grid.column colPos="9" colspan="2" name="sidebar_tab_3" />
		</flux:grid.row>
		<flux:grid.row>
			<flux:grid.column colPos="4" colspan="6" name="footer_12" />
		</flux:grid.row>
		<flux:grid.row>
			<flux:grid.column colPos="5" colspan="3" name="footer_6_left" />
			<flux:grid.column colPos="6" colspan="3" name="footer_6_right" />
		</flux:grid.row>
	</flux:grid>
</f:section>

<f:section name="Content">
	<div class="row">
		<div class="small-12 large-7 large-centered columns">
			<vhs:content.render column="0" />
		</div>
	</div>
</f:section>
