{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Page/Standard" />

<f:section name="Configuration">
	<flux:form id="wide">
		<flux:form.sheet name="rssFeed">
			<flux:field.relation name="settings.rssPid" table="pages" />
			<flux:field.input name="settings.rssType" eval="trim,int" size="16" />
		</flux:form.sheet>
		<flux:form.sheet name="websiteStatistics">
			<flux:field.checkbox name="settings.enableTracking" />
			<flux:field.input name="settings.trackingCode" />
		</flux:form.sheet>
	</flux:form>
	<!-- backend layout -->
	<flux:grid>
		<flux:grid.row>
			<flux:grid.column colPos="0" colspan="2" name="content" />
		</flux:grid.row>
		<flux:grid.row>
			<flux:grid.column colPos="2" colspan="2" name="sidebar" />
		</flux:grid.row>
		<flux:grid.row>
			<flux:grid.column colPos="4" colspan="2" name="footer_12" />
		</flux:grid.row>
		<flux:grid.row>
			<flux:grid.column colPos="5" name="footer_6_left" />
			<flux:grid.column colPos="6" name="footer_6_right" />
		</flux:grid.row>
	</flux:grid>
</f:section>

<f:section name="Header">
	<f:render partial="Page/Header" />
	<vhs:content.render column="1" slide="-1" />
</f:section>

<f:section name="Content">
	<vhs:content.render column="0" />
</f:section>

<f:section name="Sidebar">
	<vhs:content.render column="2" slide="-1" />
</f:section>

<f:section name="Footer12">
	<vhs:content.render column="4" slide="-1" />
</f:section>

<f:section name="Footer66">
	<section class="row">
		<div class="small-12 large-6 columns">
			<div class="panel">
				<vhs:content.render column="5" slide="-1" />
			</div>
		</div>
		<div class="small-12 large-6 columns">
			<div class="panel">
				<vhs:content.render column="6" slide="-1" />
			</div>
		</div>
</f:section>

<f:section name="Copyright">
	<f:render partial="Page/Copyright" arguments="{ rssPid: settings.rssPid, rssType: settings.rssType }" />
</f:section>
