{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace vhs=Tx_Vhs_ViewHelpers}

<f:layout name="FCE" />

<f:section name="Configuration">
	<flux:form id="fiveSeven" label="LLL:EXT:vantomas/Resources/Private/Language/Elements/FiveSeven.xlf:label" description="LLL:EXT:vantomas/Resources/Private/Language/Elements/FiveSeven.xlf:description" enabled="TRUE" wizardTab="vantomas">
		<flux:field.checkbox name="panel" label="Wrap contents in panel?" />

		<flux:grid>
			<flux:grid.row>
				<flux:grid.column>
					<flux:form.content name="colLeft" label="LLL:EXT:vantomas/Resources/Private/Language/Elements/FiveSeven.xlf:settings.fields.colLeft" />
				</flux:grid.column>
				<flux:grid.column>
					<flux:form.content name="colRight" label="LLL:EXT:vantomas/Resources/Private/Language/Elements/FiveSeven.xlf:settings.fields.colRight" />
				</flux:grid.column>
			</flux:grid.row>
		</flux:grid>
	</flux:form>
</f:section>

<f:section name="Preview">
	<flux:widget.grid />
</f:section>

<f:section name="Main">
	<section class="row">
		<div class="small-12 large-5 columns">
			<f:if condition="{panel}">
				<f:then>
					<div class="panel">
						<flux:content.render area="colLeft" />
					</div>
				</f:then>
				<f:else>
					<flux:content.render area="colLeft" />
				</f:else>
			</f:if>
		</div>
		<div class="small-12 large-7 columns">
			<f:if condition="{panel}">
				<f:then>
					<div class="panel">
						<flux:content.render area="colRight" />
					</div>
				</f:then>
				<f:else>
					<flux:content.render area="colRight" />
				</f:else>
			</f:if>
		</div>
	</section>
</f:section>