{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace vhs=Tx_Vhs_ViewHelpers}

<f:layout name="FCE" />

<f:section name="Configuration">
	<flux:form id="threeColumn" enabled="TRUE" options="{ grou: 'vantomas' }">
		<flux:field.checkbox name="panel" label="Wrap contents in panel?" />

		<flux:grid>
			<flux:grid.row>
				<flux:grid.column name="colLeft" />
				<flux:grid.column name="colMiddle" />
				<flux:grid.column name="colRight" />
			</flux:grid.row>
		</flux:grid>
	</flux:form>
</f:section>

<f:section name="Preview">
	<flux:widget.grid />
</f:section>

<f:section name="Main">
	<div class="row">
		<div class="small-12 large-4 columns">
			<f:if condition="{panel}">
				<f:then>
					<div class="panel">
						<flux:content.render area="colLeft" />
					</div>
				</f:then>
				<f:else>
					<flux:content.render area="colLeft" />
				</f:else>
			</f:if>
		</div>
		<div class="small-12 large-4 columns">
			<f:if condition="{panel}">
				<f:then>
					<div class="panel">
						<flux:content.render area="colMiddle" />
					</div>
				</f:then>
				<f:else>
					<flux:content.render area="colMiddle" />
				</f:else>
			</f:if>
		</div>
		<div class="small-12 large-4 columns">
			<f:if condition="{panel}">
				<f:then>
					<div class="panel">
						<flux:content.render area="colRight" />
					</div>
				</f:then>
				<f:else>
					<flux:content.render area="colRight" />
				</f:else>
			</f:if>
		</div>
	</div>
</f:section>