// "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace
.codesnippet {
    background-color: rgb(240, 240, 240);
    margin: 0 0 rem-calc(16) 0;
    padding: 0 0 rem-calc(16) 0;

    em {
        margin: 0 rem-calc(16);
    }
}
.codesnippet pre { overflow: auto; }
.syntaxhighlighter { padding: 8px !important; }
.row .syntaxhighlighter table td {
    font-family: monospace !important;
    line-height: em-calc(20) !important;
    font-size: em-calc(16) !important;
}

@media #{$medium} {
    .codesnippet {
        margin-left: -10em;
        margin-right: -10em;
    }
}
