@import "twitter";

%mythumb {
	@include thumb;
}

div.csc-textpic .csc-textpic-imagewrap figure,
div.csc-textpic figure.csc-textpic-imagewrap {
	@extend %mythumb;
	-webkit-box-shadow: $thumb-box-shadow-hover;
	box-shadow: $thumb-box-shadow-hover;

	margin-left: em-calc(8);
	margin-right: em-calc(8);
	margin-top: em-calc(8);
}
