div.csc-mailform fieldset {
    padding: ($column-gutter/2);
}

form .row .csc-form-element {
    label em,
    label strong {
        font-style: italic;
        line-height: em-calc(24);
        text-transform: none;
    }
    label strong {
        font-style: normal;
        font-weight: bold;
    }

    .columns {
        padding-bottom: em-calc(8);
        padding-top: em-calc(8);
    }
}
    .csc-form-element-submit {
        .columns {
            text-align: right;
        }
        input {
            @media only screen {
                @include inset-shadow();
                @include single-transition(background-color);
            }

            @include button-base;
            @include button-size;
            @include button-style;
            @include button-size($padding:$button-sml);
            @include radius;
        }
    }
