h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: $primary-color;

	&:hover {
		color: darken($primary-color, 5%);
	}
}

.deprecated {
	background-color: #efefef;

	border: 1px solid #ff822e;
	border-radius: 10px;

	padding: 0.75rem 1rem;

	@media #{$medium} {
		background: #efefef url(/typo3conf/ext/vantomas/Resources/Public/Images/ico-warning.png) no-repeat scroll 1.25rem 1.25rem;
		padding: .75rem 1rem .75rem 5rem;
	}

	@media #{$large} {
		margin: 0 -5rem 2.5rem;
	}
}