{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}
{namespace vt=DreadLabs\Vantomas\ViewHelpers}

<f:for each="{pages}" as="page">
	<section class="hero row">
		<div class="small-12 large-7 large-centered columns">
			<h1><f:link.page pageUid="{page.uid}"><vhs:condition.variable.isNull value="{page.subtitle}" then="{page.title}" else="{page.subtitle}" /></f:link.page></h1>
			<p>
				<f:format.date date="@{page.lastUpdated}" format="F jS, Y" /> • {page.keywords} • <f:link.page pageUid="{page.uid}" section="comment-list">comments</f:link.page>
			</p>
			<div class="row">
				<div class="small-12 large-12 columns">
						<div class="panel">
							<vt:page.teaserImage imageRessource="{vt:resource.getFileIdentifiers(table: 'pages', field: 'media', uid: page.uid)}" titleText="{page.subtitle}" titleTextAlternative="{page.title}" />
						</div>
						<f:format.html>{page.abstract}</f:format.html>
				</div>
			</div>
			<div class="row">
				<div class="small-12 large-12 columns">
					<f:link.page pageUid="{page.uid}" class="right small radius button">read more »</f:link.page>
				</div>
			</div>
		</div>
	</section>
</f:for>