<div class="social-bookmarks-bar">
	<a rel="nofollow" title="del.ici.ous" href="http://del.icio.us/post?url={f:uri.page(pageUid: page.uid, absolute: 'TRUE') -> f:format.urlencode()}&amp;title={page.title -> f:format.urlencode()}">
		<img width="64" height="64" title="del.icio.us" alt="del.icio.us" src="typo3conf/ext/vantomas/Resources/Public/Images/social_icons/delicious_doodle_64x64.png">
	</a>
	<a rel="nofollow" title="stumbleupon.com" href="http://www.stumbleupon.com/submit?url={f:uri.page(pageUid: page.uid, absolute: 'TRUE') -> f:format.urlencode()}&amp;title={page.title -> f:format.urlencode()}">
		<img width="64" height="64" title="stumbleupon.com" alt="stumbleupon.com" src="typo3conf/ext/vantomas/Resources/Public/Images/social_icons/stumbleupon_doodle_64x64.png">
	</a>
	<a rel="nofollow" title="Twitter" href="http://twitter.com/home?status={page.title -> f:format.urlencode()}+-+{f:uri.page(pageUid: page.uid, absolute: 'TRUE') -> f:format.urlencode()}">
		<img width="64" height="64" title="Twitter" alt="Twitter" src="typo3conf/ext/vantomas/Resources/Public/Images/social_icons/twitter_doodle_64x64.png">
	</a>
	<a rel="nofollow" title="Facebook" href="http://www.facebook.com/share.php?u={f:uri.page(pageUid: page.uid, absolute: 'TRUE') -> f:format.urlencode()}&amp;t={page.title -> f:format.urlencode()}">
		<img width="64" height="64" title="Facebook" alt="Facebook" src="typo3conf/ext/vantomas/Resources/Public/Images/social_icons/facebook_doodle_64x64.png">
	</a>
</div>