{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />

<flux:form.data table="tt_content" record="{record}" field="content_options" as="content">
	<f:if condition="{content.settings.container.addAnchor}">
		<a id="{record.header -> v:or(alternative: record.titleAttribute) -> v:or(alternative: 'content {record.uid}') -> v:format.url.sanitizeString()}"></a>
	</f:if>
	<v:tag name="{v:variable.get(name: 'content.settings.container.types.{record.CType}') -> v:or(alternative: content.settings.container.types.default)}"
	         class="{content.settings.container.className}">
		<f:render section="Main" />
	</v:tag>
</flux:form.data>
