	body {
		background: #ffffff;
		font: normal normal 62.5%/100% 'Trebuchet MS', Arial, Helvetica, sans-serif;
	}

	/* layout elements */
	#wrap { font-size: 1.2em; }
	#wrap.fixed { padding-top: 270px; }

		nav { background: url(../../Images/Desktop/bg-body.jpg) repeat scroll transparent; border-bottom: 1px solid #5e2100; padding-bottom: 10px; }
		.fixed nav { position: fixed; width: 100%; z-index: 2; box-shadow: 0 0 25px #000000; }

			.logo { display: block; margin: 0 auto; }

			#menu-main { margin: 0; font-family: 'Lobster', serif; font-size: 2.8em; text-align: center; text-transform: lowercase; }

				#menu-main li { display: inline; background: transparent url(../../Images/Desktop/menu-main-bullet.png) 0% 55% no-repeat; padding: 0 0 0 16px; }
				#menu-main li.active { background: transparent url(../../Images/Desktop/menu-main-active-item.png) 0% 65% no-repeat; padding: 0 0 0 32px; }

					#menu-main a { text-decoration: none; color: #000000; }
					#menu-main li.active a,
					#menu-main a:hover { text-decoration: underline; color: #c0490a; }
					#menu-main li.active a:hover { text-decoration: none; }

		#content-container {
			clear: both;
			margin: 0 auto;
			width: 1036px;
		}
		.fixed #content-container {
			position: relative;
			z-index: 1;
		}

			#content {
				margin: 25px 20px 0 20px;
				overflow: auto;
				padding: 15px 20px 10px 20px;
			}
					#content .three-column-container .middle .column-content {
						border: 1px dotted rgb(192, 73, 10);
						border-bottom: none;
						border-top: none;
					}

				.deprecated {
					background: transparent url(../../Images/Desktop/ico-warning.png) 4px 4px scroll no-repeat;
					margin: 20px 0;
					padding: 10px 0 0 60px;
				}

			aside { margin: 0 0 25px 0; overflow: auto; padding: 0 40px; }

		footer { clear: both; border-top: 1px solid #272727; background: #272727 url(../../Images/Desktop/bg-footer.png) left top no-repeat; padding: 50px 40px 10px 40px; }

			footer .three-column-container .column { }
				footer .three-column-container .column-content { background: rgba(70,70,70,0.92); border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

			footer h4 {
				font: normal normal normal 1.8em/1.25em 'Lobster', sans-serif;
				text-transform: lowercase;
				letter-spacing: 0.025em;

				color: #ffffff;
				background-position: -5px center;
				background-repeat: no-repeat;
				padding: 0 0 0 .25em;
			}

			footer ul.striped li { border-bottom: 1px dotted #5d5d5d; padding: 3px 0; color: #ffffff; }
				footer ul a { color: #bbbbbb; text-decoration: none; }
				footer ul a:hover { text-decoration: underline; }
				footer ul a:visited { color: #7a7a7a; }

			/* note: margin doesn't work here... */
			#copyright { clear: both; padding: 5px 0 0 0; }
				#copyright p { color: #434343; }
				#copyright a { color: #ffffff; text-decoration: none; text-shadow: none; }
				#copyright a.rss-feed { background: transparent url(../../Images/Desktop/feed.png) left center no-repeat; padding: 0 0 0 20px; }

	/* generic classes */
	#wrap .no-border { border: none; }
	.clear { clear: both; }

	/* content elements */
	p.bodytext, p.align-center, p.align-right { line-height: 1.5em; margin: 1em 0 1em 0; }
	p.bodytext { }
	.align-center { text-align: center; }
	.align-right { text-align: right; }

	h1, h2, h3, h4, h5, h6 { line-height: 1.25em; margin: 0.5em 0 0.5em 0; }
	.csc-firstHeader { margin-top: 0; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none; color: inherit; }

	h1 { font-family: 'Neuton', serif; font-size: 2.2em; font-weight: normal; color: #5e2100; }
	h2 { font-family: 'Neuton', serif; font-size: 1.8em; font-weight: normal; color: #5e2100; }
	h3 { color: #5e2100; }

	/* abstract content in single post view */
	#content .abstract { font-weight: bold; }

	#wrap .csc-textpic-border img { padding: 3px; background: #ffffff; border: 1px solid #cecece; }

	.three-column-container { float: left; width: 100%;}
		.three-column-container .column { float: left; width: 33.3%; }
			.three-column-container .column-content { margin: 10px 5px; padding: 15px 20px 1px; }
			.three-column-container .left .column-content { padding: 15px 10px 1px; }
			.three-column-container .right .column-content { padding: 15px 10px 1px; }

		.three-column-container h2 {
			font-size: 1.5em;
			font-weight: bold;
		}

	ul { list-style-type: disc; }
	ol { list-style-type: decimal; }
	ul, ol { margin: 0 0 1em 1.5em; }

		ul ul, ol ol { font-size: 1em; }
		 ul li, ol li { line-height: 1.5em; }

	pre { background: #393939; color: #ffffff; font-size: 1.4em; line-height: 1.25em; padding: 0 20px; margin: 0 0 1em 0; overflow: auto; }
	code { padding: 0; margin: 0; }

	.post-item { border-bottom: 1px solid #c0490a; }
	.post-item-tile { display: inline-block; width: 325px; margin: 0 10px; }

		.post-item-actions { text-align: right; }
			.post-item-actions li { display: inline; }
				.post-item-actions a {
					color: #ff822e;

					font-size: 1.25em;

					text-decoration: none;
				}
				.post-item-actions a.big { font-size: 1.4em; }
				.post-item-actions a:hover { border-color: #af5f18; }

		.post-item-meta { line-height: 2em; }
			.post-item-meta a { color: #ff822e; text-decoration: none; }
				.post-item-meta .twitter-share-button-container { float: right; width: 110px; margin-top: 2px; }

	/* Addon: CType uploads settings for dl lists */
	dl.csc-uploads { float: left; width: 100%; border-top: 1px solid #ffc096; padding-top: 1em; }
	dl.csc-uploads dt { float: left; width: 20px; margin: 0 5px 0 0; }
	dl.csc-uploads dd.csc-uploads-fileName { float: left; width: 565px; }
	dl.csc-uploads dd.csc-uploads-fileSize { float: left; width: 100px; text-align: right; }
	dl.csc-uploads dd.csc-uploads-itemSeparator { clear: both; border-bottom: 1px solid #ffc096; margin: 0 0 1em 0; }
	dl.csc-uploads dd p.bodytext { margin-top: 0; }

	.nav > li > a:hover,
	.nav > li > a:focus {
		text-decoration: none;
		background-color: #ffc096;
	}

	.nav-tabs {
		border-bottom: 1px solid #ffc096;
	}

	.nav-tabs > li > a {
		border: 1px solid transparent;
		border-radius: 4px 4px 0 0;
		color: #5e2100;
		font: normal normal normal 1.4em/40px Lobster, sans-serif;
		line-height: 20px;
		padding-top: 8px;
		padding-bottom: 8px;
		text-decoration: none;
	}
	.nav-tabs > li > a:hover,
	.nav-tabs > li > a:focus {
		border-color: #ffc096 #ffc096 #ffc096;
	}
	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover,
	.nav-tabs > .active > a:focus {
		color: #5e2100;
		background-color: #ffffff;
		border: 1px solid #ffc096;
		border-bottom-color: transparent;
		cursor: default;
	}

	.tab-content a {
		color: #fc9f4e;
		text-decoration: none;
	}