  body {
    font: normal normal 10pt/115% 'Trebuchet MS', 'Times New Roman', Times, serif;
  }

  #header #menu-main,
  #sidebar,
  #footer .three-column-container,
  #sp_socialbookmarks_link_bar,
  .tx-comments-comment-form,
  #content .clippy-copy { display: none !important; }

  h1, h2, h3, h4, h5, h6, a { color: #ef5411; }
  #content a[href]:after { content: " (" attr(href) ") "; font-size: 90%; }

  #content h1 a[href]:after, #content h2 a[href]:after, 
  #content h3 a[href]:after, #content h4 a[href]:after, 
  #content h5 a[href]:after, #content h6 a[href]:after,
  #content .post-item-meta a[href]:after { content: none; }

  h1, h2, h3, h4, h5, h6,
  #content p.bodytext, #content p.align-center, #content p.align-right,
  #content ul li, #content ol li { line-height: 1.5em; }

  .post-item-meta { padding: 10px 0; }
  .abstract { font-weight: bold; font-style: italic; }
  #content .tx-syntaxhighlight div.text { font-size: 10pt; white-space: normal; }

  #comment-list ol { }
    #comment-list ol li { border-bottom: 1px solid #000000; }
      #comment-list ol li .comment-text { clear: both; }
