{namespace flux=Tx_Flux_ViewHelpers}
{namespace vhs=Tx_Vhs_ViewHelpers}
{namespace vt=Tx_Vantomas_ViewHelpers}

<f:layout name="FCE" />

<f:section name="Configuration">
	<flux:flexform id="lastUpdatedPage" label="LLL:EXT:vantomas/Resources/Private/Language/Elements/LastUpdatedPage.xml:label" description="LLL:EXT:vantomas/Resources/Private/Language/Elements/LatestComments.xml:description" enabled="TRUE" wizardTab="vantomas">
		<flux:flexform.sheet name="settings" label="LLL:EXT:vantomas/Resources/Private/Language/Elements/LastUpdatedPage.xml:groups.settings">
			<flux:flexform.field.input name="repositoryPid" label="LLL:EXT:vantomas/Resources/Private/Language/Elements/LastUpdatedPage.xml:groups.settings.fields.repositoryPid" />
			<flux:flexform.field.select name="begin" label="LLL:EXT:vantomas/Resources/Private/Language/Elements/LastUpdatedPage.xml:groups.settings.fields.begin" 
				items="{
					0: { 0: '2', 1: 'LLL:EXT:vantomas/Resources/Private/Language/Elements/LastUpdatedPage.xml:groups.settings.fields.begin.2' },
					1: { 0: '3', 1: 'LLL:EXT:vantomas/Resources/Private/Language/Elements/LastUpdatedPage.xml:groups.settings.fields.begin.3' },
					2: { 0: '4', 1: 'LLL:EXT:vantomas/Resources/Private/Language/Elements/LastUpdatedPage.xml:groups.settings.fields.begin.4' }
				}" maxItems="1" />
		</flux:flexform.sheet>
	</flux:flexform>
</f:section>

<f:section name="Preview">
	Starting point: {repositoryPid}<br>
	Begin: {begin}
</f:section>

<f:section name="Main">
	<vt:page.lastUpdated storagePid="{repositoryPid}" begin="{begin}">
		<div class="post-item no-border">
			<h2 class="csc-firstHeader"><vhs:condition condition="{lastUpdatedPage.subtitle}" then="{lastUpdatedPage.subtitle}" else="{lastUpdatedPage.title}" /></h2>
			<div class="content">
				<f:format.html>{lastUpdatedPage.abstract}</f:format.html>
			</div>
			<ul class="post-item-actions">
				<li><f:link.page pageUid="{lastUpdatedPage.uid}" class="round">read more</f:link.page></li>
			</ul>
		</div>
	</vt:page.lastUpdated>
</f:section>
